<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMaxAge="14.00:00:00" cacheControlMode="UseMaxAge"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
    <caching>
      <profiles>
        <add extension=".jpg" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
        <add extension=".css" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
        <add extension=".js" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
        <add extension=".jpeg" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
        <add extension=".gif" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
        <add extension=".png" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
        <add extension=".ico" policy="CacheForTimePeriod" duration="00:01:00" varyByHeaders="Accept-Language"/>
      </profiles>
    </caching>
    <rewrite>
      <rules>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
